<div id="last-updated" class="side">Last updated {{ site.time | date_to_string }}</div>
<ul id="alt-links" class="flex-main">
  <li><a href="https://about.realestate.com.au/" target="_blank" title="About Us">About</a></li>
  <li><a href="https://propertyplatform.realestate.com.au/pages/terms" target="_blank" title="Terms of Use">Terms of Use</a></li>
  <li><a href="https://about.realestate.com.au/privacy/" target="_blank" title="Privacy Policy">Privacy</a></li>
  <li class="rea-logo"><a href="https://propertyplatform.realestate.com.au" title="Go to Property Platform">Property Platform <img height="20px" src="/images/realestate.com.au.svg" alt="Realestate.com.au"></a></li>
</ul>

