@import 'rui/font';


// ===========
// = colours =
// ===========

$bluestone: #333f48;
$pebble: #697684;
$mega-light: #f5f5f6;
$white: #fff;
$light: #c8c9c7;
$teal: #00beb3;
$rea-red: #e4002b;

$colour-text-default: $pebble;
