.wrapper, footer {
  width: 90%;
  max-width: 1400px;
  margin:0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

main, .flex-main {
  flex: 3;
}

.side {
  flex: 1;
  max-width: 300px;
  padding-right: 1rem;
  padding-left: 0;
}

header {
  a {
    display: flex;
    align-items: center;
    img {
      height: 2rem;
      margin-right: 0.5rem;
    }
  }
}

menu {
  margin-top: 0;
  padding-top: 0;

  #user-guide a {
    padding: 0.5rem 0;
    font-size: $font-size-default;
  }

  a {
    display:block;
    padding: 0.5rem 0;
    font-family: $font-medium;

    &.current-page {
      color: $rea-red;
    }
  }

  ul, li {
    list-style:none;
    padding:0;
    margin: 0;
  }
}

#banner {
  background-image: url(/images/hero.jpg);
  background-size: cover;
  height: 20rem;
}

main {
  min-height: 20rem;
  padding-bottom: 5rem;
  border-bottom: 1pt $light solid;
}

footer {
  padding-top: 5rem;
  #last-updated {
    opacity: 0.25;

    &:hover {
      opacity: 0.8;
      cursor: help;
    }
  }
  .rea-logo {
    a {
      color: inherit;
      &:hover {
        color: $rea-red;
      }

      img {
        vertical-align: middle;
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        border-left: 1pt $light solid;
      }
    }
  }
}
