body {
  padding: 0;
  margin: 0;
  font:14px/1.5 $font-default;
  font-weight: normal;
  color: $colour-text-default;
  background-color: $mega-light;
}

h1, h2, h3, h4, h5, h6 {
  margin:0 0 20px;
  color: $bluestone;
  font-family: $font-medium;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

a {
  color: $rea-red;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: $bluestone;
  }
}

blockquote {
  border-left:1px solid $light;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: $colour-text-default;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: $light;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid $mega-light;
}

dt, th {
  color: $colour-text-default;
  font-family: $font-medium;
}

img {
  max-width:100%;
}

strong {
  color: $bluestone;
  font-weight:700;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background: $light;
  height:1px;
  margin:0 0 20px;
}
