
@media print, screen and (max-width: 720px) {

  #banner {
    height: 10rem;
  }
}

@media print, screen and (max-width: 670px) {

  .wrapper, #main-wrapper, footer {
    width: auto;
    margin: 1rem;
    padding-top: 0;
  }

  #banner, #last-updated, #menu-main {
    display: none;
  }

  #main-wrapper {
    display: block;
  }

  main {
    display: block;
    padding-top: 0;
    min-height: inherit;
  }

  @import "responsive/menu";
}

@media print {
  body {
    font-size:12pt;
  }
}
