
@media print, screen and (max-width: 720px) {

  #banner {
    height: 10rem;
  }
}

@media print, screen and (max-width: 670px) {

  #banner {
    height: 5rem;
  }
}

@media print, screen and (max-width: 480px) {

  .wrapper, #main-wrapper, footer {
    width: auto;
    margin: 1rem;
    padding-top: 0;
  }

  #banner, #last-updated, #menu-main {
    display: none;
  }

  header #menu-toggle {
    display: block;
  }

  #main-wrapper {
    display: block;
  }

  #menu-main.side {
    width: 100%;
    margin-top: -1rem;
    border-bottom: 1pt $light solid;
  }

  main {
    display: block;
    padding-top: 0;
    min-height: inherit;
  }

}

@media print {
  body {
    font-size:12pt;
  }
}
