
@media print, screen and (max-width: 720px) {

  #banner {
    height: 10rem;
  }
}

@media print, screen and (max-width: 670px) {

  #banner {
    height: 5rem;
  }
}

@media print, screen and (max-width: 480px) {

  .wrapper, footer {
    width: auto;
    margin: 1rem;
    padding-top: 1rem;
    display: block;
  }

  .side {
    flex: none;
    display: block;
  }

  main {
    min-height: inherit;
  }

  #banner, #last-updated, menu.side {
    display: none;
  }

}

@media print {
  body {
    font-size:12pt;
  }
}
