/*
   REA brand font - Museo Sans

   Bulletproof font face http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/
   http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax

*/


@import "rui/cdn";


/* Museo Sans 300 (san serif font) */
@font-face {
  font-family: 'Museo-Sans-300';
  src: url($static-fonts + 'museo-sans-300-v1.eot');
  src: url($static-fonts + 'museo-sans-300-v1.eot?#iefix') format('embedded-opentype'), url($static-fonts + 'museo-sans-300-v1.woff') format('woff'), url($static-fonts + 'museo-sans-300-v1.ttf') format('truetype'), url($static-fonts + 'museo-sans-300-v1.svg#Museo-Sans-300') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Museo Sans 500 (san serif font) */
@font-face {
  font-family: 'Museo-Sans-500';
  src: url($static-fonts + 'museo-sans-500-v1.eot');
  src: url($static-fonts + 'museo-sans-500-v1.eot?#iefix') format('embedded-opentype'), url($static-fonts + 'museo-sans-500-v1.woff') format('woff'), url($static-fonts + 'museo-sans-500-v1.ttf') format('truetype'), url($static-fonts + 'museo-sans-500-v1.svg#Museo-Sans-500') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Museo Sans 700 (san serif font) */
@font-face {
  font-family: 'Museo-Sans-700';
  src: url($static-fonts + 'museo-sans-700-v2.eot');
  src: url($static-fonts + 'museo-sans-700-v2.eot?#iefix') format('embedded-opentype'), url($static-fonts + 'museo-sans-700-v2.woff') format('woff'), url($static-fonts + 'museo-sans-700-v2.ttf') format('truetype'), url($static-fonts + 'museo-sans-700-v2.svg#Museo-Sans-700') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-default: 'Museo-Sans-300', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-medium: 'Museo-Sans-500', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-heavy: 'Museo-Sans-700', 'Helvetica Neue', Helvetica, Arial, sans-serif;
