#menu-wrapper {
  overflow: hidden;
  width: 0px;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $white;
  position: absolute;
  z-index: 1000;

  transition-property: width;
  transition-duration: 0.25s;

  &.open {
    width: 300px;
    border-left: 1pt $light solid;
  }
}

#modal-background {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgba(0,0,0,0);
  transition-property: background-color;
  transition-duration: 1s;


  &.open {
    bottom: 0;
    background-color: transparentize(darken($bluestone, 50%), 0.25);
  }
}

#menu-main {
  display: block;
  width: 300px;
  padding: 1rem;
}

header #menu-toggle {
  display: block;
  position: absolute;
  z-index: 1500;
  top: 1rem;
  right: 1rem;
  width: 32px;
  height: 32px;
  background-image: url('/images/icon-burger.svg');
  background-size: cover;

  &.open {
    background-image: url('/images/icon-close.svg');
  }
}
