#menu-wrapper {
  overflow: hidden;
  width: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $white;
  position: absolute;

  transition-property: width;
  transition-duration: 0.25s;

  &.open {
    width: 300px;
    border-left: 1pt $light solid;
  }
}

#menu-main {
  display: block;
  width: 300px;
  padding: 1rem;
}

header #menu-toggle {
  display: block;
  position: absolute;
  z-index: 1000;
  top: 1rem;
  right: 1rem;
}
