<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% include title.html %}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <header class="wrapper">
      <div class="rea-logo">
        <h3>
          <a href="/">
            Property Platform help 
          </a>
        </h3>
        <p>User guides for Property Platform</p>
      <div>
    </header>

    <div class="wrapper">
      <menu class="side">
      {% include menu.html %}
      </menu>
      <main>
        {{ content }}
      </main>
    </div>

    <footer class="wrapper">
      {% include footer.html %}
    </footer>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
